In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.signal import find_peaks

pd.plotting.register_matplotlib_converters()
%matplotlib inline

plt.rcParams['figure.dpi'] = 100
plt.rcParams['axes.grid'] = True
plt.style.use('seaborn')

In [40]:
data_1 = pd.read_csv('dataset1.csv')

In [41]:
L = data_1['L']
W = data_1['W']

In [42]:
data_1['NA'] = [W[i]/np.sqrt(4*L[i]**2 + W[i]**2) for i in range(len(L))]
data_1['θ'] = [np.arcsin(x)*180/np.pi for x in data_1['NA'].values]
data_1['2θ'] = [2*x for x in data_1['θ'].values]
data_1.index += 1

In [43]:
data_2 = pd.read_csv('dataset2.csv')

L = data_2['L']
W = data_2['W']

data_2['NA'] = [W[i]/np.sqrt(4*L[i]**2 + W[i]**2) for i in range(len(L))]
data_2['θ'] = [np.arcsin(x)*180/np.pi for x in data_2['NA'].values]
data_2['2θ'] = [2*x for x in data_2['θ'].values]
data_2.index += 1

In [44]:
data_1

      L   W        NA          θ         2θ
1  10.0  10  0.447214  26.565051  53.130102
2  14.0  15  0.472221  28.178590  56.357180
3  18.5  20  0.475517  28.393019  56.786039
4  24.0  25  0.461934  27.512003  55.024005

In [45]:
data_2

      L   W        NA          θ         2θ
1   8.5  10  0.507020  30.465545  60.931090
2  14.0  15  0.472221  28.178590  56.357180
3  18.0  20  0.485643  29.054604  58.109208
4  22.0  25  0.494009  29.604451  59.208901

In [46]:
np.mean(data_1["2θ"]),np.mean(data_2["2θ"])

(55.324331666135805, 58.65159493725055)